/*
COLOURS
Yellow: #F1F119
Light Blue: #44D6C4
Grey: #2D2D39
Off White: #F4F8FD
Off Black: #171717
*/

/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

/* Main styles */
h1 {
    font-family: "Montserrat", sans-serif;
}
h2 {
    font-family: "Montserrat", sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
}

/* NavBar stuff */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*.navBar {
    overflow: hidden;
    background-color: #4f4f55;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.navBar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
*/

/* THE COLOURS ARE JUST FOR TESTS IT DOESN'T HAVE TO BE THAT IF WE DONT WANT IT */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 10%;
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    background-color: #171717;
}

.logo{
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #71dfee
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #F4F8FD;
    text-decoration: none;
}

button{
    padding: 9px 25px;
    background-color: rgb(231, 215, 66);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #171717;
}

button:hover{
    background-color: rgba(113, 223, 238, 0.8);

}

/* HOME */
html, body{
    height:100%;
}

.home {
    background-image: url("./images/map.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    position: relative;
}

.home .text{
    width: 50%;
    height: 25%;
    padding: 40px 40px 40px 40px;
    top: 30%;
    margin: auto;
    position: relative;
    text-align: center;
    background-color: #2D2D39;
    color: #71dfee;
    /*text-shadow: -1px 0 #171717, 0 1px #171717, 1px 0 #171717, 0 -1px#171717;
    */
    outline-offset: 10px;
    outline: 4px solid #e7d742;
}

.home .text h1{
    font-size: 50px;
}

.home .text h2{
    font-size: 20px;
}

/* features */
.features 
{
    background-image: url("./images/tall_buildings.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* CUSTOMER TESTIMONIALS */
.cust-reviews {   
    width: 100%;
    height: 95vh;
    padding: 40px 20px;
    padding-bottom: 30px;
    background-color: #171717;
    font-size: 16px;          
}
.cust-reviews .upper-container {
    margin-bottom: 15px;
}
.cust-reviews h2 {
    /* background-color: #171717; */
    color: #F1F119 ;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0.8rem;
}
.cust-reviews p {
    /* background-color: #2D2D39; */
    color: #F4F8FD;
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
}
.cust-reviews .row {   
    box-sizing: border-box;    
    background-image: url("./images/city_intersection.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 60vh;
    padding: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.cust-reviews .row::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: rgba(0,0,0,0.6);
}
.cust-reviews .row:after {
    /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}
.cust-reviews .column {  
    width: 30vw;
    min-width: 100px;
    height: 40vh;                
}
.cust-reviews .column iframe {
    width: inherit;
    height: inherit;
}
.cust-reviews .column img {
    width: 26vw;
    height: auto;
    border: 2px solid #171717;
    outline: 0.5px solid #F4F8FD;
    box-shadow: 4px 5px 5px black;
}
.cust-reviews .zoom {
    transition: transform .2s;
}
.cust-reviews .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.2); 
}


/*ABOUT US SECTION*/
section{
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: row;

}

section button{
    border-radius: 20px;
    box-shadow: grey 2px 2px 0;
}

section .link a{
    background-color: white;
    background-size: 30px;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    position: relative;
    text-indent: -999999999px;
    text-decoration: none;
    width: 30px;
    padding: 0;
    
}


section .link a:hover{
    background-color: #3835ec;
    box-shadow: gray 0 0 10px;
}


section .github a{
    background-image: url("images/github.png");
}


section .linkedIn a{
    background-image: url("images/linkedin.png");
}


.people {
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.people a {
    text-decoration: none;
    color: black;
}

.people figure {
    margin: auto;
    text-align: center;
    width: 200px;
}
.people figure img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: grey 0 0 10px;
    width: 150px;
}

/* FAQ Section */
.Faq-background{
    background-color:#171717;
}
.FAQ-Section{
    background: 
        url(https://cdn.discordapp.com/attachments/763177317929058326/766010087063289866/pexels-photo-219692.png) no-repeat;
        max-width: 50%;
        width: 100%;
        background-position: -600px -500px;
        color:#171717;
}
.FAQ-H2{
    text-align: center;
    color: yellow;
    margin: 0px 0px 130px 0px;
    background-color: #171717;
    padding: 20px;
    transform: translate(100%, 0%);

}
.container-questions {
    transform: translate(100%,0%);
    padding: 0px;
    margin: 0px 150px 150px 0px;
    width: 100%;
}

.container-questions ul{
    padding: 50px;
    margin: 100px -200px 300px 0px;
    text-align: center;
}
.container-questions ul li {
    text-align: center;
    display: inline-block;
    width: 370px;
    height: 320px;
    background: #171717;
    margin:  0px 142px 142px 0px;
    padding: 2px;

}

.container-questions ul li .title-questions {
    font-family: 'Raleway', sans-serif;
    height: 50px;
    line-height: 50px;
    background: yellow;
    text-align: center;
    color: #171717;
    width: 350px

}

.container-questions ul li .questions {
    font-family: 'Raleway', sans-serif;
    color: yellow;
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding: 10px;
    margin: 0px 0px 20px 20px;
}
.searchbar-contour .search-bar{
    margin:0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.searchbar-contour {
    position: absolute; 
    left: 33%;
    transform: translate(-75%, 200px);
    height: 40px;
    font-family: 'Raleway', sans-serif;
    background: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    max-width: 600px;
    width: 100%;
    border-radius: 5px;
    display:flex;
    justify-content: space-between;
}
.searchbar-contour .input{
    width: 85%;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
@media screen and (max-width:1000px){
    .container-questions ul li{
        width: 60%;
        height: 100%;
        margin: 40px;
        background-color: black;
    }
}

/* $$$$$ Section */
