/* HOME */
html, body{
    height:100%;
}

.home {
    height: 100%;
    background-color: black;
}

.home-background{
    background-image: url("./map.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    position: relative;
}

.home .text{
    width: 50%;
    height: 25%;
    padding: 40px 40px 40px 40px;
    top: 30%;
    margin: auto;
    position: relative;
    text-align: center;
    background-color: #2D2D39;
    color: #71dfee;
    /*text-shadow: -1px 0 #171717, 0 1px #171717, 1px 0 #171717, 0 -1px#171717;
    */
    outline-offset: 10px;
    outline: 4px solid #e7d742;
}

.home .text h1{
    font-size: 50px;
}

.home .text h2{
    font-size: 20px;
}

.blank{
    height: 1000px;
}